:root {
  --primary-color: rgb(28, 28, 84);
  --primary-dark: rgb(28, 28, 69);
  --primary-light: rgb(57, 57, 150);
  --secondary-color: rgba(255, 255, 255);
  --opaque: rgba(0, 0, 0, 0.5);
  --linear-gradient: linear-gradient(#ff7366, #c23ab0);
}

/* Global */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background: linear-gradient(rgb(255, 255, 255), rgb(235, 237, 255));
}

body {
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

p {
  color: var(--opaque);
}

.full-page-container {
  max-width: 960px;
  margin: 0 auto;
}

/* Header */

.main-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  margin: 20px 0;
}

.logo-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: bold;
}

.logo-link-header {
  letter-spacing: 1px;
}

.get-started {
  display: flex;
  align-items: center;
  justify-content: center;
}

.get-started a {
  background-color: var(--primary-color);
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  color: white;
}
.get-started a:hover {
  background-color: var(--primary-light);
}

/* Showcase */

.showcase {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 500px;
  margin-bottom: 150px;
}

.showcase-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showcase-img-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.showcase-img {
  display: flex;
  width: 350px;
  border-top-left-radius: 150px;
  border-bottom-right-radius: 150px;
}

.showcase-content h2 {
  font-size: 3.5rem;
}

.showcase-content p {
  margin-top: 30px;
}

.btn-large {
  display: flex;
  align-self: flex-start;
  background: linear-gradient(#ff7366, #ba91e5);
  padding: 10px 30px;
  border-radius: 30px;
  color: white;
  margin-top: 35px;
}

.btn-large:hover {
  background: linear-gradient(#ba91e5, #ff7366);
}

/* Cards */

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 960px;
  margin: 0 auto;
  gap: 30px;
}

.grid-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 325px;
  background-color: var(--secondary-color);
  border-radius: 15px;
  margin: 0 auto;
  padding: 20px 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.grid-cards p {
  margin: 20px 5px;
}

.grid-cards h5 {
  font-size: 1.4rem;
  margin: 0 5px;
}

#grid-1 {
  display: flex;
  background: var(--linear-gradient);
  color: var(--secondary-color);
  border-radius: 15px;
  width: 100%;
  height: 325px;
  margin: 0 auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#grid-1 h4 {
  font-size: 1.5rem;
  margin: 50px;
  padding-top: 50px;
}

.grid-cards:nth-of-type(3) {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
}

#grid-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-link {
  display: inline-block;
  font-weight: bold;
  font-size: 1.2em;
  color: #ff7366;
}

.card-link:hover {
  cursor: pointer;
}

/* Footer */

.main-footer {
  display: flex;
  justify-content: space-around;
  height: 100%;
  background-color: var(--primary-color);
  padding: 20px;
  margin: 0 auto;
  margin-top: 50px;
  width: 960px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.footer-container {
  display: flex;
}

.footer-container ul li a {
  color: var(--secondary-color);
}

.footer-container ul li:nth-of-type(1) {
  border-bottom: 2px solid white;
  padding: 0;
  margin-bottom: 4px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container label {
  color: var(--secondary-color);
  font-weight: bold;
  margin-bottom: 10px;
}

.form-container input {
  padding: 15px 5px;
  margin: 0;
  border: none;
}

.newsletter-btn {
  padding: 15px 10px;
  border: none;
  font-weight: bold;
}

.newsletter-btn:hover {
  background-color: white;
}
